# Binaries
/ass
*.exe
*.test
*.out

# Build / coverage
/bin/
/dist/
coverage.*

# Artifacts written by cookbook example programs when run from the repo root
/txns.csv

# Editor / OS
.idea/
.vscode/
*.swp
.DS_Store
